.ilangcoy {
	display: none;
}

.hasil_update {
	background-color: transparent;
	animation: 1s ease-out 0s 1 muncol;
}

.datatable-scroll-wrap{
	overflow: hidden;
}

.btn-add{
	margin-left: 20px;
}


#tablequ{
	padding: 10px;
}
@keyframes muncol {
	0% {
		background-color: green;
	}
	100% {
		background-color: transparent;
	}
}