.bs-flipper {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	height: auto;
}

.judul_menu {
	font-weight: bolder;
	color: gray;
	margin-top: 20px;
	font-size: 25px;
}

.thumbnail {
	border: none;
	background: none;
	height: auto;
}

.main-div {
	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	border-radius: 20px;
	margin: 10px auto 30px;
	max-width: 50%;
	padding: 70px;
}

body #LoginForm {
	background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 10px;
}

.front {
	z-index: 2;
	border: 1px solid #ccc;
	height: auto;
	border-radius: 10px;
	padding: 10px;
	padding: 30px;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}